{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdteams"
    
    },
    
  "cloudant": {
      "db": "https://raveryzeartatindessidetw:SkF4cCgIpcpGu1b25WaGHjQs@gkoenig.cloudant.com/asd"
    
    }
  }
}
